.lgbuttom {
    width: 100%;
    background-color: rgb(54, 165, 54);
    color: oldlace;  
    border-radius: 4rem;  
}

.smbuttom {
    width: 100%;
    background-color: rgb(54, 165, 54);
    color: oldlace;
    
}