.mainheader {
    padding-top: 15rem;
}

.boxbuttomu{ 
    box-sizing: border-box;
}
.boxbuttomd {
    box-sizing: content-box;
}

.lgbuttom {
    width: 100%;
    height: 32px;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 7);  
    border-radius: 4rem; 
    box-sizing: border-box;
    font-size: large;
    border-color: black; 
}

.smbuttom {
    width: 100%;
    height: 32px;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 6, 6);
    border-radius: 100%;
    cursor: pointer; 
    border-color: black; 
}

.asbutton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5rem;
    cursor: pointer;
    border-color: black; 
}

.asbutton2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    border-color: black;  
}

.imgas{
    width: 7rem;
    height: auto;
}

.mimg {
    width: 5rem;
}