main{
    padding-top: 50px;
    @media(min-width: 992px){
    padding-top: 0;
    margin-left: 80px!important;
    }
    .main-head{
        p{
            font-size: smaller;
            font-weight: lighter;
            color:gray;
            margin-right: 10px;
        }
        .btn{
            font-size: smaller;
            background-color: $light-gray;
            color:black;
            &:hover{
                background-color: $light-gray-active;
            }
        }
    }
    .main-nav{
        border-bottom: 1px solid $light-gray;
        margin-bottom: 40px;
        ul{
            padding-left:0;
            li{
                &:first-of-type{
                    color:gray;
                    font-weight: lighter;
                }
                list-style: none;
                font-size: smaller;
            }
        }
    }
    .main-cards-container{
        .card{
            border-radius: 0;
            border:none;
            border-bottom:0.5px solid lightgray;
            height: 230px;
            .card-header{
                background-color: white;
                border:none;
                .card-avatar{
                    width:25px;
                    height: 25px;
                }
                p{
                    font-size: smaller;
                }
            }
            .card-body{
                .card-body-img{
                    background-size: cover;
                    background-position:center ;
                    width:110px;
                    height: 110px;
                    background-color: red;
                }
            }
            .card-bottom{
                .btn{
                    height: 20px;
                    font-size: smaller;
                    background-color: $light-gray;
                    color:black;
                    &:hover{
                    background-color: $light-gray-active;
                    }
                }
                p{
                    font-size: smaller;
                }
                .card-bottom-icons{
                    .save-icon2{
                        stroke: transparent;
                    }
                    input[class="save"]{
                        display: none;
                        &:checked + label{
                            svg{
                                .save-icon{
                                    display: none;
                                }
                                .save-icon2{
                                    display: block;
                                    fill: black;
                                }
                            } 
                        }
                    }
                    .dropdown{
                        .btn-dark{
                            background-color: transparent;
                            border: transparent;
                            &:focus{
                                border: none;
                                box-shadow:none;
                                outline:0;
                            }
                            &:active{
                                outline:0;
                            }
                        }
                        .dropdown-menu{
                            li{
                                a{
                                    font-size: smaller;
                                    font-weight: lighter;
                                    color:gray;
                                &:hover{
                                    background-color: white;
                                    color:black;
                                }
                            }
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                top: -10px;
                                right: calc(50% - 10px);
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 10px 10px 10px;
                                border-color: transparent transparent white transparent;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                top: -11px;
                                right: calc(50% - 11px);
                                z-index: -1;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 11px 11px 11px;
                                border-color: transparent transparent gray transparent;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
