.bottom-side {
    background-color: white;
    height: 50px;
    box-shadow:8px 0 6px 3px $light-gray;
    .bottom-group{
        margin: 10px;
        @include flex-box(row, space-around, center, nowrap);
        svg{
            .home-icon2{
                stroke:gray;
            }
            .home-icon{
                stroke:gray;
            }
            .search-icon{
                stroke:none;
                fill:gray;
            }
            .saved-icon2{
                stroke:gray;
            }
            .saved-icon{
                stroke:gray;
            }
        }
        input[id="search"]{
            display: none;
            &:checked + label{
                svg{
                    .search-icon{
                        fill:$green-accent;
                    }
                }
            }
        }
        input[id="home"]{
            display: none;
            &:checked + label{
                svg{
                    .home-icon2{
                        stroke:$green-accent;
                        fill:$green-accent;
                    }
                    .home-icon{
                        stroke:$green-accent;
                    }
                }
            }
        }
        input[id="saved"]{
            display: none;
            &:checked + label{
                svg{
                    .saved-icon2{
                        stroke:$green-accent;
                        fill:$green-accent;
                    }
                    .saved-icon{
                        stroke:$green-accent;
                    }
                }
            }
        }
        label{
            cursor: pointer;
        }
    }
    .avatar{
        color: white;
        background-color: $green-accent;
        width: 28px;
        height: 28px;
        font-weight: 300;
        @include flex-box (row, center, center, nowrap);
    }
    @media(min-width: 992px){
        @include flex-box(column, center, center, nowrap);
        border-right: 1px solid $light-gray;
        position:fixed;
        height: 100vh;
        width: 80px;
        box-shadow: none;
        .medium-logo{
            width:2.5rem;
        }
        .side-group{
            @include flex-box(column, space-between, center, nowrap);
            height: 100vh;
            padding: 40px 0 25px;
                .side-inside-group{
                    height: 50vh;
                    @include flex-box(column, space-around, center, nowrap);
                }
            }
        }
        
    }